/*
 * このscss内で定義された変数・関数はvueコンポーネントの<style>内で使えます。
 *
 */


@charset "utf-8";

/* 
★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★

★  √￣￣￣＼	variables  /￣￣￣￣l____________________________________________
*/

// ━★	bg colors 
	$text-b-1: '#fde08e';
	$text-b-2: '#eee';
	$text-b-3: '#de3600';

// ━★	font colors
	$text-f-1: '#333';
	$text-f-2: '#222';
	$text-f-3: '#eee';

// --★	accent style
	$text-a-1: '#000099';
	$text-a-2: '#de0000';

// --★	custom


/* 
★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★

★  √￣￣￣＼	methods  /￣￣￣￣l____________________________________________
*/

// ━★	responsible 
$xs: "screen and (max-width: 400px)";
$sm: "screen and (min-width: 768px)";
$md: "screen and (min-width: 1000px)";
$lg: "screen and (min-width: 1200px)";
// scss内で@media #{$xs} { }

.xsElement {
	@media #{$sx} {
		display: none !important;
	}
}
.smElement {
	@media #{$sm} {
		display: none !important;
	}
}
.mdElement {
	@media #{$md} {
		display: none !important;
	}
}
.lgElement {
	@media #{$lg} {
		display: none !important;
	}
}


/* 
★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★

★  √￣￣￣＼	fonts  /￣￣￣￣l____________________________________________
*/

